body {
	font-family: Arial, Helvetica, sans-serif;
	background:#ceffc1;
}

header {
  background: #698061;
  height: 140px;
}

.header-inner {
  width: 960px;
	margin: 0 auto;
}

.header-inner img {
  float: left;
  margin: 30px auto;
	box-sizing: border-box;
}

a{
	color: #ffc0cb;
}

.header-inner li {
  float: left;
  color: #fff;
	margin-left: 20px;
	margin-top: 60px;
	font-size: 18px;
}

.header-inner li:last-child {
	margin-right: 20px;
}

main {
  width: 960px;
	margin: 0 auto;
}

main li {
  float: left;
  margin-right: 0px;
  margin-top: 20px;
	margin-bottom: 20px;
}

main li:last-child {
  margin-right: 0px;
}

main section {
	float: left;
	margin: 0 auto;
}


main section img {
  float: left;
  margin-right: 30px;
}

main section img:last-child {
	margin-right: 0px;
}

main section h2 {
  font-size: 40px;
	margin-bottom: 20px;
}

main section p {
  line-height: 20px;
}

footer {
  height: 400px;
  background: #698061;
	clear: left;
}

footer ul{
	width: 960px;
  margin: 0 auto;
}

td {
  text-align: center;
  font-style: bold;
}

th {
  font-size: 120%;
}